@{
    Layout = "~/Views/Shared/_Item_Layout.cshtml";
}
<div id="input"></div>
<script>
    require(['Shared/CheckInputer/CheckInputerView', 'Shared/LenovoInputer/LenovoInputerView'], function (CheckInputerView, LenovoInputerView) {
        var inputer = new CheckInputerView({
            'dataSource': 'User.UserCode',
            'allowEmpty': false,
            'readOnly':true
        });
        $('#input').append(inputer.render());
/*
        console.info(inputer.Value('admin'));

        console.info(inputer.Readonly(false));

        console.info(inputer.AllowEmpty(true));
*/
        console.info(inputer.Readonly(false));


        var inputer2=new LenovoInputerView({
            'placeHolder': '请输入责任人，不填写则登记为公共客户',
            'dataSource': 'User',
            'showValue': true,
            'readOnly':false
        });
        $('#input').append(inputer2.render());
/*        console.info(inputer2.Value('admin'));
        console.info(inputer2.Readonly(true));*/
    })
</script>